.brand-name {
  background-color: #2A3F5F;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F7FA;
  color: #1F2937;
}

.brand-logo {
  height: 50px;
  margin-right: 15px;
}

.titulo {
  font-size: 20px;
  font-weight: bold;
}
